<div class="row">
    <div class="col-md-6">
        <app-dona 
            title="Ventas"
            [label]="labels1"
            [doughnutChartData]="data1"
        ></app-dona>
    </div>

    <div class="col-md-6">
        <app-dona
        title="Marcas"
        [label]="labels2"
        [doughnutChartData]="data2"
        ></app-dona>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <app-dona

        ></app-dona>
    </div>

    <div class="col-md-6">
        <app-dona

        ></app-dona>
    </div>
</div>