<div class="input-group">
    <span class="input-group-btn">
        <button  type="button" (click)="valorProgress(-5)" [ngClass]="btnClass" >-</button>
    </span>
    <input type="number" class="form-control" [ngClass]="{'is-invalid': progress > 100 || progress < 0}" (ngModelChange)="onChange($event)" [(ngModel)]="progress" placeholder="Product name" min="0" max="100">
    <span class="input-group-btn">
        <button type="button" (click)="valorProgress(5)" [ngClass]="btnClass">+</button>
    </span>
</div>